@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

:root {
  --clr-element:  hsl(209, 23%, 22%);
  --clr-background:  hsl(207, 26%, 17%);
  --clr-text:   hsl(0, 0%, 100%);
  --clr-gray: hsl(0, 0%, 52%);
  --clr-shadow: rgba(0, 0, 0, 0.25);
  --ff-nunito: 'Nunito Sans';

  --content_center: 8% !important;
}

[data-theme="light"] {
  --clr-background:  hsl(0, 0%, 90%);
  --clr-text:   hsl(200, 15%, 8%);
  --clr-shadow: hsl(0, 0%, 52%);
  --clr-element:  hsl(0, 0%,95%);

}

*,
*:before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px !important;
  min-width: 375px !important;
}

body{
  background-color: var(--clr-background);
  font-family: var(--ff-nunito);
}

img{
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
}

p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
}


button{
  cursor: pointer;
  display: inline-block;
}

a{
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.transition-theme{
  transition: .3s ease-in-out;
}

/* HEADER */
.header{
  background-color: var(--clr-element);
  padding: 1rem var(--content_center);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
}

.header h1{
  font-size: 1rem;
  color: var(--clr-text);
}

#btn__theme{
  background-color: transparent;
  color: var(--clr-text);
  display: flex;
  align-items: center;
  gap: 5px;
  border: 0;
  font-weight: 700;
}

/* FILTERS */
.filter{
  margin: 50px 0px;
  padding: 1rem var(--content_center);
}

.search{
  background-color: var(--clr-element);
  padding: 10px 12px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: var(--clr-text);
  gap: 12px;
  border-radius: 5px;
  box-shadow: var(--clr-shadow) 0px 2px 8px 0px;
  margin-bottom: 40px;
}

.search svg{
  width: 25px;
  height: 25px;
}

.search input{
  background-color: transparent;
  outline: none !important;
  border: 0 !important;
  caret-color: rgb(21, 169, 255);
  color: var(--clr-text);
  font-size: 16px;
  width: 100%;
}

.search input:focus ~ svg{
  color: rgb(21, 169, 255);
}


.filter_region{
  background-color: var(--clr-element);
  color: var(--clr-text);
  border: 0;
  outline: 0;
  width: 200px;
  letter-spacing: 2px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: var(--clr-shadow) 0px 2px 8px 0px;
}

/* COUNTRIES */
.countries{
  padding: 1rem var(--content_center);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.2rem, 1fr));
  grid-gap: 1rem;
}


.card{
  height: 400px;
  max-width: 330px;
  margin: auto;
  background-color: var(--clr-element);
  box-shadow: var(--clr-shadow) 0px 2px 8px 0px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.030);
  transition: .15s ease-in-out;
}



.card_image{
  height: 47% !important;
  width: 100% !important;
  border-radius: 15px 15px 0px 0px;
}

.card_name{
  margin: 16px 0px;
}

.card__details{
  padding: 1rem 1.5rem;
  color: var(--clr-text);
}

.card__details .detail{
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
}


.detail .detail_data{
  font-size: 1rem;
  font-weight: normal;
}

/* COUNTRY DETAIL */
.country_detail{
  border: 1px solid red;
  padding: 1rem var(--content_center);
}

.btn_goback{
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 12px 10px;
  background-color: var(--clr-element);
  border: 0;
  outline: 0;
  color: var(--clr-text);
  box-shadow: var(--clr-shadow) 0px 2px 8px 0px;
  margin-top: 20px;
}

.country_detail .country{
  border: 1px solid red;
  margin-top: 50px;
}

.country__borders{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.border_tag{
  background-color: var(--clr-element);
  padding: 3px 6px;
  border-radius: 5px;
  color: var(--clr-text);
  letter-spacing: 1px;
  cursor: pointer;
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1023px) {
  .filter{
    margin: 50px 0px;
    padding: 1rem var(--content_center);
    display: flex;
    justify-content: space-between;
  }

  .search{
    width: 280px;
    margin-bottom: 0px;

  }

  .countries{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px; 
  }

  .card{
    width: 100%;
  }
  
}

/* LAPTOP TO DESKTOP */
@media screen and (min-width: 1024px) {

  .header h1{
    font-size: 2rem;
    color: var(--clr-text);
  }

  .filter{
    display: flex;
    justify-content: space-between;
  }

  .search{
    width: 320px;
    margin-bottom: 0px;
  }
}  
